body {
    background-color: #25576b;
}

header, footer {
    background-color: #5498B3;
    color: whitesmoke;
    text-align: center;
    padding: 5px 5px;
}

li {
    border: pink 10px;
    background-color: #b4dbea;
    color: black;
    display: inline;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

section {
    background-color: #25576b;
    color: white;
    text-align: center;
    border-radius: 15px;
}

section p {
    text-align: left;
    margin: 0px;
}
#section1 {
    width: 80%;
    height: 40%;
    border-radius: 15px 50px;
}

#username {
    color:darkblue;
}